*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header ul li{
    display: inline-block;
    
    
}

.sol{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    
    
}
.sağ{
    float: right;
    margin-right: 20px;
    margin-top: 30px;
}
li a{
    text-decoration: none;
    color: black;
    
}
li a:hover{
    text-decoration:underline ;
 

}
.container2{
 
    padding-top: 14rem ;
    margin-top:2.5rem;
    margin: 1.25rem;
   
}
.form-special{
    display: grid;
    place-content:center ;
}
.p1{
    text-align: center;
    padding: 20px;
    
}
.p1 a{
    border:none ;
    text-decoration: none;
    background-color: rgba(120, 126, 120, 0.148);
    color: black;
    padding: 10px;
    border-radius:3px ;
    
}
.p2{
    text-align: center;
    padding-top: 20px;
}
.form-special input{
    outline: none;
    width: 30rem ;
    height: 40px;
    border: none;
    border-color:white ;
  
    
   
    font-size: 17px ;
}
.form-special label{
    display: grid;
    place-content:center ;
}

#concat{
    border: 2px solid rgba(0, 0, 0, 0.164);
    border-radius:35px ;
    width:36em ;
    text-align: center;
    height:3.1rem ;
    padding: 3.5px;
    
    
    
}
#google{
    box-shadow: 3px white; 
    
}
.image{
    vertical-align: middle;
   
    height: 18px;
}
.image1{
    
    vertical-align: middle;
}
#sign{
    background-color: rgba(106, 106, 218, 0.385);
    width:4rem ;
    text-align: center;
    border-radius:5px ;
   height:1.6rem  ;
   padding-top:3px ;
}


